body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f4f8;
    color: #333;
}

h1 {
    text-align: center;
    color: #009688; 
    margin-bottom: 30px;
}

input[type="text"] {
    width: calc(33% - 10px);
    padding: 10px;
    margin: 5px 5px 20px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #009688;
    outline: none;
}

button {
    padding: 10px 15px;
    background-color: #009688;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00796b;
}

#cocktailContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cocktail-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    width: calc(30% - 10px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s, box-shadow 0.2s;
}

.cocktail-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.cocktail-card img {
    max-width: 100%;
    border-radius: 5px;
}

.cocktail-details {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #009688;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #e7f3fe;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    border-left: 4px solid #009688;
}

